.container {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  padding-left: 2rem;
  overflow: auto;
  padding-bottom: 2rem;
}

.goBackDiv {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;

  color: var(--black_33323);
  font-family: Pretendard;
  font-size: var(--font16);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logoutButton {
  border: none;
  padding: 0.8rem 3rem;
  border-radius: 4px;
  background: var(--violet_5534DA);
  margin-left: auto;
  cursor: pointer;
  margin: 1.2rem;

  color: var(--white_FFFFFF);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
