.content {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem 0rem 34rem;
  gap: 4rem;
}

.dashBoardButtons {
  display: grid;
  max-width: 102.2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

@media (max-width: 1023px) {
  .content {
    padding: 4rem 0rem 0rem 20rem;
  }
  .dashBoardButtons {
    max-width: 50.4rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 2.4rem 0rem 2.4rem 9.1rem;
    gap: 2.4rem;
  }

  .dashBoardButtons {
    max-width: 26rem;
    grid-template-columns: 1fr;
  }
}
