.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  font-size: 100px;
  color: #000;
}

.button-container {
  margin-top: 20px;
}

.button {
  background-color: #760dde;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
