.loginButtonIsActive {
  display: flex;
  width: 52rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  background: var(--violet_5534DA);
  color: var(--white_FFFFFF);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font18);
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
  border: none;
  cursor: pointer;
}

.loginButtonNotActive {
  display: flex;
  width: 52rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  background: var(--gray_9FA6B2);
  color: var(--white_FFFFFF);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font18);
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .loginButtonIsActive {
    width: 35.1rem;
  }
  .loginButtonNotActive {
    width: 35.1rem;
  }
}
