.inviteBtn {
  width: 10.5rem;
  height: 3.2rem;

  flex-shrink: 0;
  border-radius: 0.4rem;
  border: none;
  background: var(--violet_5534DA);
  color: var(--white-white_FFFFFF, #fff);
  font-family: Pretendard;
  font-size: var(--font14);
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 767px) {
  .inviteBtn {
    width: 8.6rem;
    height: 2.8rem;
    font-size: var(--font12);
  }
  .content {
    gap: 0.8rem;
  }
  .vector {
    width: 1.4rem;
    height: 1.4rem;
  }
}
