.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorName {
  font-size: 7rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: var(--violet_5534DA);
}

.contentText {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 4rem;
}

.homeLink {
  font-size: var(--font18);
  color: var(--white_FFFFFF);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--violet_5534DA);
}
