@function calc-navbar-width($rem) {
  @return 10 * $rem;
}

.navbarWrapper {
  width: calc(100vw - #{calc-navbar-width(30)}px);
  height: 7rem;
  box-sizing: border-box;

  background-color: var(--white_FFFFFF);
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray_D9D9D9);
  padding: 0 6rem;
  overflow: hidden;
  font-family: Pretendard;

  @media (max-width: 1023px) {
    width: calc(100vw - #{calc-navbar-width(16)}px);
  }

  @media (max-width: 767px) {
    width: calc(100vw - #{calc-navbar-width(6.7)}px);
    justify-content: flex-end;
  }
}

.navBarTitleWrapper {
  width: fit-content;
  font-size: var(--font20);
  font-weight: var(--bold);
  color: var(--black_333236);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  @media (max-width: 767px) {
    display: none;
  }
}

.navBarInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 767px) {
    display: none;
  }
}

.sideMenuWrapper {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.sideMenuUserWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.sideMenuButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.usernameWrapper {
  width: fit-content;
  font-weight: 500;
  font-size: var(--font16);
  color: var(--black_333236);
  white-space: nowrap;
}
