.textDiv {
  width: 51.2rem;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: var(--black-333236);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
