.deleteText {
  width: 50rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black_333236, #333236);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font18);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
