@function calc-navbar-width($rem) {
  @return 10 * $rem;
}

.container {
  width: calc(100vw - #{calc-navbar-width(30)}px);
  height: 7rem;
  top: 0;
  left: 0;
  box-sizing: border-box;

  background-color: var(--white_FFFFFF);
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray_D9D9D9);
  padding: 0 6rem;
  overflow: hidden;
  z-index: 11;

  @media (max-width: 1023px) {
    width: calc(100vw - #{calc-navbar-width(16)}px);
  }

  @media (max-width: 767px) {
    width: calc(100vw - #{calc-navbar-width(6.7)}px);
    justify-content: flex-end;
  }

  & > #title {
    color: var(--black_333236);
    font-family: Pretendard;
    font-size: var(--font20);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: calc(100vw - #{calc-navbar-width(6.7)}px);
    justify-content: flex-end;
  }
}

.userNameDiv {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  gap: 1.2rem;

  color: var(--black_333236);
  font-family: Pretendard;
  font-size: var(--font16);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;

  & > #useName {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
