.container {
  width: 62rem;
  height: 45.4rem;
  border-radius: 0.8rem;
  background: var(--white_FFFFFF);
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-top: 1.2rem;

  & > #title {
    margin-top: 0.4rem;
    color: var(--black_333236);
    font-family: Pretendard;
    font-size: var(--font24);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @media (max-width: 1023px) {
    width: 54.4rem;
  }
  @media (max-width: 767px) {
    width: 28.4rem;
  }
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.changeButton {
  border: none;
  padding: 0.8rem 3rem;
  border-radius: 4px;
  background: var(--violet_5534DA);
  margin-left: auto;

  color: var(--white_FFFFFF);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
