.container {
  width: 100%;
  height: auto;
  padding-left: 30rem;
  overflow: scroll;
  background: var(--gray_FAFAFA);
}

.columnsContainer {
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  padding-top: 7rem;
}
