.acceptBtn {
  /* 버튼 */
  display: flex;
  width: 8.4rem;
  height: 3.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  border: none;

  /* 글자 */
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font14);
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
}

.acceptBtn {
  /* 버튼 */
  background: var(--violet_5534DA);

  /* 글자 */
  color: var(--white_FFFFFF);
}
@media (max-width: 1023px) {
  .acceptBtn {
    width: 7.2rem;
    height: 3rem;
  }
}

@media (max-width: 767px) {
  .acceptBtn {
    width: 10.9rem;
  }
}
