.container {
  display: flex;
  flex-direction: column;
  width: 62rem;
  height: 40.4rem;
  padding: 2.6rem 0rem 0rem 0rem;
  border-radius: 2rem;
  background: var(--white_FFFFFF);
  box-shadow: 0rem 0.4rem 1rem var(--gray_EEEEEE);
}

.title {
  display: flex;
  width: 62rem;
  height: 4rem;
  padding: 0rem 2.8rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 2rem;
}

#titleMember {
  color: var(--black_333236);
  font-family: Pretendard;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: var(--black_333236);
  font-family: Pretendard;
  font-size: var(--font14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name {
  padding: 0rem 2.8rem;
  color: var(--gray_9FA6B2);
  font-family: Pretendard;
  font-size: var(--font16);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;
}

.memberContainer {
  display: flex;
  width: 62rem;
  padding: 0rem 2.8rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.profileFrame {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#memberName {
  color: var(--black_333236);
  font-family: Pretendard;
  font-size: var(--font16);
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
}

@media (max-width: 767px) {
  .container {
    width: 28.4rem;
    height: 33.7rem;
    flex-shrink: 0;
  }
  .title {
    width: 28.4rem;
    height: 3.6rem;
    padding: 0rem 2rem;
    margin-bottom: 1rem;
  }
  #titleMember {
    font-size: 2rem;
  }

  .pagination {
    gap: 1.2rem;
    font-size: var(--font12);
  }
  .name {
    padding: 0rem 2rem;
    font-size: var(--font14);
  }

  .memberContainer {
    width: 28.4rem;
    height: 3.4rem;
    padding: 0rem 2rem;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
  }

  .memberImage {
    width: 3.4rem;
    height: 3.4rem;
  }

  .profileFrame {
    gap: 0.8rem;
  }

  #memberName {
    font-size: var(--font14);
  }
}
