.container {
  margin-bottom: 32px;

  & > * {
    font-size: 1.6rem;
  }
}

#title {
  color: var(--black_333236, #333236);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;

  & > #essential {
    color: var(--violet_5534DA);
  }
}

.input {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid var(--gray_D9D9D9);
  background: var(--white_FFFFFF);

  &:focus {
    outline: none;
  }
}

.multiLineInput {
  height: auto;
  resize: none;
}

.drowDownDiv {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--gray_D9D9D9);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.drowDownButton {
  border: none;
  background-color: var(--white_FFFFFF);
  cursor: pointer;
}

.statusTag {
  padding: 4px 8px;
}
