.colorEclipseContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 29px 0px;
}

.colorEclipse {
  width: 30px;
  height: 30px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  position: relative;
}

.green {
  background-color: var(--green_7AC555);
}
.purple {
  background-color: var(--purple_760DDE);
}
.orange {
  background-color: var(--orange_FFA500);
}
.blue {
  background-color: var(--blue_76A6EA);
}
.pink {
  background-color: var(--pink_E876EA);
}
