.container {
  display: inline-flex;
  align-items: flex-start;
  gap: 1rem;
}

.acceptBtn {
  /* 버튼 */
  display: flex;
  width: 8.4rem;
  height: 3.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  background: var(--violet_5534DA);
  border: none;

  /* 글자 */
  color: var(--white_FFFFFF);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font14);
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
}

.rejectBtn {
  /* 버튼 */
  display: flex;
  width: 8.4rem;
  height: 3.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  background: var(--white_FFFFFF);
  border: 0.1rem solid var(--gray_D9D9D9);

  /* 글자 */
  color: var(--violet_5534DA);
  text-align: center;
  font-family: Pretendard;
  font-size: var(--font14);
  font-style: normal;
  font-weight: var(--bold);
  line-height: normal;
}

@media (max-width: 1023px) {
  .acceptBtn,
  .rejectBtn {
    width: 7.2rem;
    height: 3rem;
  }
}

@media (max-width: 767px) {
  .acceptBtn,
  .rejectBtn {
    width: 10.9rem;
  }
}
